[Unit]
Description=Moonscale service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/moonscale/start.sh

[Install]
WantedBy=multi-user.target
